/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    overflow: hidden; 
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    margin:0px;
    padding:0px;
    justify-content: center;
}

main.container {
    background: white;
    min-width: 320px;
    min-height: 50vh;
    padding: 3rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    margin-bottom: 1.5rem;
}
.dist{
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

button{
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

button:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}


/* Estilização das mensagens de erro do email */
input[type="text"], input[type="email"]{
    padding: 4px;
    border-radius: 5px;
    
  }
  
  input:invalid{
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
  }
  
  input:focus{
    outline: none;
  }
  
  input:focus:invalid{
    box-shadow: none;
  }
  
  span{
    color: crimson;
  }

  /*alteraçoes do joao*/
  /*segue o logo 2 que vai disponibilizar acesso a pagina "about"*/

  .logo2 {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    justify-content: right;
    align-content: right;
    text-align: right;
    display: block;
    margin-left: auto;
    align-items: right;
}

.a1{
    justify-content: right;
    align-content: right;
    text-align: right;
    color: #000000;
    display: block;
    margin-left: auto;
    align-items: right;
    transition: transform .1s;
}

header {
    height:182px;
    display: flex;
    
}

.h1{
    font-family: 'Poppins', sans-serif;
    transition: transform .1s;
    transition-delay: 250ms;
  }

.h1:hover {
    transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.p{
  font-family: 'Raleway', sans-serif;
 }

 .logo {
    width: 20px;
    height: 22px;
    margin-top: 12px;
    color:#000000;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.a2{
    height: 65px;
    width: 105px;
    background-color: #4d7fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: 1px;
    border-color: #1b1b1c;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: transform .1s;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    display: inline-block;
}

.a2:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  