.flex-dashboard header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 71px;
    background-color: white;
    padding: 0 30px;
    border:1px solid rgba(0,0,0,.625);
    border-left: 0px;
  
}

.flex-dashboard header a{
    text-decoration: none;
    color:#72777a;
}

.flex-dashboard header a > i{
    color: rgb(156, 102, 255);
    padding-right: 10px;
}