*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div.flex-dashboard{
    display: flex;
    flex-direction: row;
    height:100%;   
}

aside{
    display: block;
    height: 80rem;
    width: 300px;
    background-color: rgb(95, 0, 173);
    border:1px solid rgba(0,0,0,.625);
   
}

aside .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 70px;
    border:1px solid rgba(0,0,0,.625);
    border-right: 0px;

}

aside .sidebar-title img{
    height: 30px;
    width: 30px;
    
}

aside .sidebar-title h2{
    font-size: 16px;
    margin-top: 5px;
    color: white;

}

div.menu{
    border-right: 0px;
    border-top: 0px;
    
   
}

div.menu ul{
    list-style: none;  
}

div.menu ul li{
    padding: 35px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}

div.menu ul li i{
    color: rgb(31, 255, 151);
    font-size: 20px;
}

div.menu ul li a{
    color: white;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
   
}

div.menu ul li a:hover{
    color: rgb(214, 214, 214);
}


